@keyframes slideInFromLeft {
    0% {
      transform: translateX(-70%);
      opacity: 0%;
    }
    100% {
      transform: translateX(0);
      opacity: 100%;
    }
  }

  #card > div {
    animation: 1s ease-out 0s 1 slideInFromLeft;
  }