body {
    
}

.carousel-img {
    width: 100%;
    height: 100%;
    border-radius: 2%;
}

.hole {
    box-shadow: 0 0 0 9999px rgba(0, 0, 255, 0.2);
}

.bg-blue {
    background-color: rgb(94, 164, 255);
}

.fold {
    height: 100vh;
    background: rgb(60,181,205);
    background: linear-gradient(0deg, rgba(60,181,205,1) 0%, rgba(0,111,167,1) 100%);
}

.top-stories {
    width: 600px;
    height: 560px;
}