
ul {
    width: 100%;
}

li > a{
    list-style-type: none;
    width: 100%;
    background-color: rgb(94, 164, 255);
    color: white;
}

.row {
    background-color: rgb(94, 164, 255);
}

.side-nav {
    background-color: rgb(94, 164, 255);
    height: 100vh;
}